<!DOCTYPE html>
<html>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css" </body>

<head>
    <title>about</title>
</head>

<body id="bg5" class="bgi">
    <!-- Header Section -->
    {{!-- <header>
        <div class="head1">ABOUT</div>
    </header> --}}
    <!-- Menu Navigation Bar -->
   <div class="menu">
        <div>
        <a href="/">HOME</a>
        <a href="/weatherapp">WEATHER</a>
        <a href="/newsapp">NEWS</a>
        <a href="/chatapp">CHAT</a>
        <a href="/about">ABOUT US</a>
        <a href="/help">HELP</a>
    </div>
    <div class="menu-logout">
        <a href="" id="logout" >LOGOUT</a>
    </div>
    </div><br>
    </div>
<div style="margin-left: 20px;">
    <p>This website was created by Om Maina and Nancy Sahu.</p>
     <p>GossipBuddy is a great way to meet new friends, even while practicing social distancing. <br>When 
you use GossipBuddy, you are paired randomly to a big folk to talk recent affairs.<br> To help you 
stay safe, chats are anonymous unless you tell someone who you are (not recommended!),<br> and 
you can stop a chat at any time. Users are solely responsible for their behavior while using it.</p>

 <p>It uses Mapbox and weather stack data to display forecast.</p>
 <p>Weather Report module is a web based application through which you will able to get all the <br>
reports related to weather forecasting of any locations.</p>

<p>It uses news api to display news.</p>
<p>In present scenario, information is one the most valuable resource of the current world.<br> We have 
developed our project so that we can aware the people about the recent news report of the <br>
country with fastest dissemination of information giving the top headlines and updates in a <br>
descriptive manner.</p>

<p>Create date 22-04-2022.</p>
</div>
    <!-- Footer Section -->
    <footer>
        <marquee behavior="alternate" direction="up" width="80%">
            <marquee direction="right" behavior="alternate">Created by Om Maina and Nancy Sahu</marquee>
        </marquee>
    </footer>

</html>