<!DOCTYPE html>
<html>
<link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css">

<head>
    <title>help</title>
</head>

<body id="bg4" class="bgi">
    <!-- Menu Navigation Bar -->
<div class="menu">
        <div>
        <a href="/">HOME</a>
        <a href="/weatherapp">WEATHER</a>
        <a href="/newsapp">NEWS</a>
        <a href="/chatapp">CHAT</a>
        <a href="/about">ABOUT US</a>
        <a href="/help">HELP</a>
    </div>
    <div class="menu-logout">
        <a href="" id="logout" >LOGOUT</a>
    </div>
    </div><br>
    </div>
<div style="margin-left: 20px;">
    <p id="help">Conatct Om Maina</p>
    <p id="help">Email us on om.meena3438@gmail.com for any queries</p>
    <br>
    <p id="help">Contact Nancy Sahu</p>
    <p id="help">Email us on sahunano692gmail.com for any queries</p>
</div>
    <!-- Footer Section -->
    <footer>
        <marquee behavior="alternate" direction="up" width="80%">
            <marquee direction="right" behavior="alternate">Created by Om Maina and Nancy Sahu</marquee>
        </marquee>
    </footer>
</body>

</html>