<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/css/styles.css">

<head>
    <title>Home</title>
</head>

<!-- Body -->
<div class="menu">
    <div>
    <a href="/">HOME</a>
    <a href="/weatherapp">WEATHER</a>
    <a href="/newsapp">NEWS</a>
    <a href="/chatapp">CHAT</a>
    <a href="/about">ABOUT US</a>
    <a href="/help">HELP</a>
</div>
    <div class="menu-logout">
        <a href="" id="logout" >LOGOUT</a>
    </div>
</div>

<body id="bg" class="bgi">
    <div id="ovr"></div>
  
    <br />
    <div id="greeting"><h2>Welcome to Our GossipBuddy</h2></div>
    
</body>

<!-- Footer Section -->
<footer>
    <marquee behavior="alternate" direction="up" width="80%">
        {{!-- <marquee direction="right" behavior="alternate">Created by {{>footer}}</marquee>/ --}}
         <marquee direction="right" behavior="alternate">Created by Om Maina and Nancy Sahu</marquee> 
    </marquee>
</footer>

</html>