<!DOCTYPE html>
<html>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="/css/styles.css">

<head>
    <title>news</title>
    <link rel="icon" href="/img/newsicon.png">
</head>

<body id="bg2" class="bgi">

    <!-- Menu Navigation Bar -->
  <div class="menu">
        <div>
        <a href="/">HOME</a>
        <a href="/weatherapp">WEATHER</a>
        <a href="/newsapp">NEWS</a>
        <a href="/chatapp">CHAT</a>
        <a href="/about">ABOUT US</a>
        <a href="/help">HELP</a>
    </div>
    <div class="menu-logout">
        <a href="" id="logout" >LOGOUT</a>
    </div>
    </div><br>
    </div>

    <h2 style="margin-left: 20px; color:white">India's top news</h2>
    <div id="cont" style="display:flex; align-items: center;"> <a style="margin-left: 20px; text-decoration:none; color:white" href="/news" id="link2">News</a> <i style="color: white;margin-left: 20px;" class="ri-arrow-right-line"></i></div>
   
    <div id="newsId"> </div>

    <!-- Footer Section -->
    <footer>
        <marquee behavior="alternate" direction="up" width="80%">
            <marquee direction="right" behavior="alternate">Click on news to get the top news</marquee>
        </marquee>
    </footer>
    <script src="/js/newsClient.js"></script>
</body>
</html>