<!DOCTYPE html>
<html>

<head>
    <title>Chat App</title>
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body id="bg6" class="bgi">

    <div class="menu">
        <div>
        <a href="/">HOME</a>
        <a href="/weatherapp">WEATHER</a>
        <a href="/newsapp">NEWS</a>
        <a href="/chatapp">CHAT</a>
        <a href="/about">ABOUT US</a>
        <a href="/help">HELP</a>
    </div>
        <div class="menu-logout">
            <a href="" id="logout" >LOGOUT</a>
        </div>
    </div>
    </div>

    <div class="centered-form">
        <div class="centered-form__box">
            <h1>Join Chat Room</h1>
            <form action="/chat">
                <label>Display name</label>
                <input type="text" name="username" placeholder="Enter your username" required autocomplete="off"><br>
                <label>Room</label><br>
                <!-- <input type="text" name="room" placeholder="Room" required autocomplete="off"><br> -->
                <select name="room" style=" widows: 150px; height: 30px;">
                    <option value="Bangalore">Bangalore</option>
                    <option value="Bhopal">Bhopal</option>
                    <option value="Indore">Indore</option>
                </select><br><br><br><br>
                <button>Join</button>
            </form>
        </div>
    </div>

    <footer>
        <marquee behavior="alternate" direction="up" width="80%">
            <marquee direction="right" behavior="alternate">Enter your name and chat room name which you want to join
            </marquee>
        </marquee>
    </footer>
</body>

</html>