/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
}

button {
    cursor: pointer;
    padding: 12px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}

button:hover {
    background: #6b47b8;
}

button:disabled {
    cursor: default;
    background: #7c5cbf94;
}


/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 78vh;
    color: white;
    background: #333744;
    width: 225px;
    overflow-y: scroll
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    margin-bottom: 0px;
    padding-right: 5px;
    border: thin;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;   
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}


img {
    width: 250px;
}

input {
    padding: 8px;
    border : 1px solid #cccccc;
}

.head1 {
    font-size  : 40px;
    color      : #009900;
    font-weight: bold;
}

.head2 {
    font-size    : 17px;
    margin-bottom: 15px;
}

body {
    margin             : 0 auto;
    background-position: center;
    background-size    : contain;
    margin-left        : 2px;
}

/* Menu */

.menu {
    position        : sticky;
    height: 70px;
    top             : 0;
   /* background-color: cornflowerblue;*/
   background-image: linear-gradient( to bottom left ,rgb(255, 255, 255), #005ce6); 
    padding         : 15px 25px;
    color           : rgb(5, 5, 5);
    margin          : 0 auto;
    overflow        : hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a {
    float          : left;
    color          :rgb(252, 251, 251);
    text-align     : center;
    margin-right: 20px;
    /* padding        : 14px 16px; */
    text-decoration: none;
    font-size      : 16px;
    font-family: "Montserrat";
}

.menu a:hover{
    border-bottom: 2.5px solid black;
}

.menu-logout {
    border-radius: 5px;
    padding: 8px 12px;
    background-color:black;
    right: auto;
    float: right;
}
#logout{
    color: white;
    font-size: 12px;
    margin-right: 0px;
}
.menu-logout:hover{
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.192);
}
#logout:hover{
    border-bottom: none;
    
}
/* try to have some chnage*/
/*
.menu {
    position        : sticky;
    top             : 0;

    background-image: linear-gradient( to bottom left ,rgb(255, 255, 255), #005ce6);
/*
  background-color: rgb(73, 145, 238);
  */ 
  /*
  padding         : 10px 0px 10px 0px;
    color           : white;
    margin          : 0 auto;
    overflow        : hidden;
}
.menu-logout {
    border-radius: 5px;
    padding: 8px 10px;
    background-color:black;
    right: auto;
    float: right;}
    
    #logout{
        color: white;
        font-size: 12px;
        margin-right: 0px;
    }
    .menu-logout:hover{
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.192);
    }
    #logout:hover{
        border-bottom: none;
        
    }
.menu a {
    float          : left;
    color          : white;
    text-align     : center;
    padding        : 14px 16px;
    text-decoration: none;
    font-size      : 20px;
}
*/

/* footer  */
footer {
    position: fixed; 
    padding: 10px 10px 0px 10px; 
    bottom: 0; 
    width: 100%; 
    font-style: bold;
    /* Height of the footer*/  
    height: 40px; 
    background-image: linear-gradient( to bottom right ,rgb(255, 255, 255), #005ce6);

}

.chat__main{
    background-image: url(../img/chat12.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}


  